@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-white  dark:bg-customInk dark:text-white text-customBlack font-Space;
  }
}

@layer components {
  .app__section {
    @apply min-h-screen pt-24 pb-[15rem];
  }

  .main-container {
    @apply xl:max-w-[1400px] mx-auto px-2;
  }
  .center-mode {
    @apply flex items-center justify-center;
  }

  .app__link {
    @apply border-2 ml-[10px] relative border-customBlue rounded-[11px] w-[222px] h-[63px];
  }

  .app__link a,
  .app__link button {
    @apply bg-customBlue flex text-center items-center justify-center transition-all absolute w-full h-full top-0 -translate-x-[10px] translate-y-[10px] left-0 rounded-lg border-2 border-customBlue text-2xl text-white;
  }
  .app__link:active a,
  .app__link:active button {
    @apply translate-x-0 -translate-y-0;
  }

  .app__icon {
    @apply dark:fill-[#D1D5DB] fill-customBlack;
  }

  .heading {
    @apply mb-4 text-customBlack dark:text-white xl:text-6xl lg:text-4xl text-3xl font-bold;
  }

  .info {
    @apply text-customBlack dark:text-white xl:text-2xl text-[16px] leading-9;
  }

  .project__info-wrapper {
    @apply lg:flex justify-between;
  }

  .project__info-wrapper:nth-child(odd) {
    @apply flex-row-reverse;
  }

  .project__title {
    @apply xl:text-[40px] lg:text-4xl md:text-2xl text-lg font-bold mb-6;
  }

  .card-flag {
    @apply relative transition-all w-8 h-16 px-2 py-3 bg-customInk hover:bg-[#e37575] cursor-pointer;
  }

  .contact__input-wrapper {
    @apply mb-5 flex flex-col;
  }

  .contact__input-wrapper label {
    @apply text-2xl mb-3 text-[#1e205e];
  }
  .contact__input-wrapper input,
  .contact__input-wrapper textarea {
    @apply text-[20px] border-[#e1e1e9] rounded-md px-2 py-2 border-2 focus:border-[#0c75ff] outline-none text-[#1e205e];
  }
  .contact__input-wrapper textarea {
    @apply max-h-[7rem] min-h-[6rem] bg-[#f9f9fb];
  }

  .contact-info {
    @apply flex space-x-6 items-center mb-5 lg:w-2/3 md:w-4/5 py-3 px-3 rounded-lg border-2 border-transparent transition-all hover:border-[#0c75ff];
  }

  .contact-social {
    @apply w-14 h-14 transition-all cursor-pointer hover:bg-[#0c75ff] rounded-full;
  }
}

.card-flag {
  clip-path: polygon(0 0, 100% 0, 100% 99%, 48% 75%, 0 100%);
}

.project__card-wrapper:hover {
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}

.project__card-wrapper:hover img {
  transform: scale(1.1);
}

.card__flag-wrapper {
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.project__card-wrapper:hover .card__flag-wrapper {
  right: 36px;
  opacity: 1;
  visibility: visible;
}

#nprogress .bar {
  height: 3px;
}

#nprogress .spinner-icon {
  width: 25px;
  height: 25px;
  border: solid 3px transparent;
}

.box {
  position: fixed;
  left: 0;
  top: -50%;
  z-index: 1000;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  /* background: rgba(0, 0, 0, 0.3);
   */
   background-color: red;
}
